[Desktop Entry]
Name=discord
GenericName=communications
Comment=Runs the discord app
Exec=/usr/bin/discord
Icon=discord
Terminal=false
Type=Application
Hidden=false
StartupNotify=true
